* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.content{
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .85;
}

.header-content{
    z-index: 2;
    margin: auto;
}
.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
    color: rgb(255, 0, 0);
    font-family: 'Lobster', cursive;
}
.btn{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
/*
.escribir{
    margin: auto;
}
p{
    float: left;
    color: #fff;
    position: relative;
}
p span{
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #000;

    animation: escribir 5s infinite alternate steps(29);
}
@keyframes escribir{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
*/

