https://http3.local {
    tls internal

    @http3 {
        expression {http.request.proto} == "HTTP/3"
    }

    handle @http3 {
        # Servir archivos desde el directorio destinado a HTTP/3
        root * /var/www/html/html_http3
        try_files {path} /index.html
        file_server
    }

    # Si NO es HTTP/3, se asume HTTP/2 o HTTP/1.x
    handle {
        root * /var/www/html/html_http2
        try_files {path} /index.html
        file_server
    }
}