# Redireccionar HTTP a HTTPS en el dominio http3.local
http://http3.local:8045 {
    redir https://http3.local:8043{uri} 301
}

# Servir HTTPS con HTTP/3
https://http3.local:8043 {
    tls /usr/share/caddy/certs/http3.local.pem /usr/share/caddy/certs/http3.local-key.pem

    @http3 protocol http/3
    handle @http3 {
        root * /usr/share/caddy/sitio-http3
        file_server
        encode gzip
    }

    @http2 protocol http/2
    handle @http2 {
        root * /usr/share/caddy/sitio-http2
        file_server
        encode gzip
    }

    # Si no coincide con HTTP/3 ni HTTP/2, devolver un error
    handle {
        respond "Protocolo no soportado" 400
    }
}