header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
}

header h1 {
    text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

body {
    font-family: Arial, sans-serif;
}
.usuario {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    display: inline-block;
    vertical-align: top;
}
.usuarios-container {
    text-align: center;
}

.usuario h2 {
    margin-top: 0;
}
.usuario p {
    margin: 5px 0;
}
.precio {
    font-weight: bold;
    color: #f00;
}
footer {
    position: absolute;
    bottom: 0;
    width: 97.9vw;
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#counter {
    text-align: center;
}
#search-bar {
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 20px;
}

#search-btn {
    background-color: #272727;
    color: white;
    border: none;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
.boton-comprar-gratis {
    background-color: transparent;
    color: #272727;
    border: 1px solid #272727;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .boton-comprar-gratis:hover {
    background-color: #272727;
    color: #fff;
  }
  .subscribe-form input[type="email"] {
    display: inline-block;
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.subscribe-form .boton-comprar-gratis {
    display: inline-block;
    vertical-align: middle;
}