{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Destacados</h2>
    <ul>
        {% for post_id, title in [(10, "Como Alcanzar el Exito en el Mundo Empresarial"), (9, "Viajes Aventureros alrededor del Mundo")] %}
        <li>
            <a class="article-title" href="{{ url_for('post', post_id=post_id) }}">{{ title }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Últimos artículos</h2>
    <ul>
        {% for post_id, title in [(1, "El Cambio Climático y sus Efectos"), (2, "La Importancia de la Educacion"), (3, "La Tecnologia en la Vida Cotidiana")] %}
        <li>
            <a class="article-title" href="{{ url_for('post', post_id=post_id) }}">{{ title }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Artículos antiguos</h2>
    <ul>
        {% for post_id, title in [(4, "Los Beneficios de Hacer Ejercicio Regularmente"), (5, "La Importancia de la Diversidad en el Lugar de Trabajo"), (6, "El Arte de la Cocina Internacional"), (7, "Consejos para una Alimentación Saludable"), (8, "El Impacto de la Inteligencia Artificial en la Sociedad")] %}
        <li>
            <a class="article-title" href="{{ url_for('post', post_id=post_id) }}">{{ title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}