@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  background-color:#03001C;
  font-family: "Poppins",system-ui;
}

header{
  padding:10px;
  background-color:#301E67;
  color:white;
}

main{
  padding:40px;
}

.container{
  max-width: 1200px;
  margin:0 auto;
}

.card {
  background-color:#301E67;
  color:white;
  padding:20px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  max-width: 700px;
  margin:0 auto;
  gap:15px;
}

.card h2{
  text-align: center;
}

.counters{
  display:flex;
  flex-direction: column;
  gap:10px;
  background-color: #5B8FB9;
  padding:10px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

.counters h3{
  text-align: center;
}

ul{
  display:flex;
  gap:25px;
  margin-top:30px;
  flex-wrap: wrap;
}

form button{
  border:none;
  padding:5px 10px;
  font-size: 18px;
  border-radius: 2px;
  background-color: #03001C;
  color:white;
  cursor:pointer;
  transition: .2s background-color;
}

form button:hover{
  background-color: #5B8FB9;
}

form button.delete{
  background-color: red;
}

form button.stop{
  background-color: #5B8FB9;
}

form button.stop:hover{
  background-color: #03001C;
}

.buttons{
  display:flex;
  gap:10px;
}

footer{
  background-color: #301E67;
  height:40px;
  color:white;
  font-size:16px;
  display:flex;
  align-items: center;
  justify-content: center;
}

li{
  width:300px;
}