/* Estilo general */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

/* Navegación */
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

/* Sección de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.producto {
    width: 45%;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.producto i {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.producto h3 {
    font-size: 1.5em;
    margin: 0;
}

.producto p {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
