<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
    <h2>Welcome back, {{ user.username }}!</h2>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ user.client_id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>Gallery linked</th>
            <td>{{ gallery_linked }}</td>
        </tr>
    </table>
    <br>
    {% if not gallery_linked %}
    <form method="post">
        <input type="hidden" name="action" value="link_gallery">
        <button type="button" onclick="window.location.href='/connect-gallery'" class="btn btn-primary">Link Gallery Account</button>
    </form>
    {% endif %}
    {% if gallery_linked %}
    <form method="post">
        <input type="hidden" name="action" value="unlink_gallery">
        <button type="submit" class="btn btn-danger">Unlink Gallery Account</button>
    </form>
{% endif %}
</body>
</html>
