.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10vh; /* Agrega un espacio en la parte superior del contenedor */
    margin-left: auto; /* Centra horizontalmente el contenedor */
    margin-right: auto; /* Centra horizontalmente el contenedor */
  }
.change-password-card {
    width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .change-password-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .change-password-card .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .change-password-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .change-password-card input {
    width: 96%;
    max-width: 650px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .change-password-card button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .change-password-card .status-message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
  }
  
  .change-password-card .green {
    background-color: #28a745;
    color: #fff;
  }
  
  .change-password-card .orange {
    background-color: #ffc107;
    color: #000;
  }
  
  .change-password-card .red {
    background-color: #dc3545;
    color: #fff;
  }
  .alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    width: 100%;
  }
  
  .alert-content {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Ajusta el ancho máximo del cuadro de error */
  }
  
  .alert-content p {
    margin: 0;
    font-weight: bold;
  }
  
  .alert-content button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    color: #f44336;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }