footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  footer a:hover {
    text-decoration: underline;
  }