.login-container {
    max-width: 400px; /* Ajusta el ancho máximo del cuadro de error */
    width: 30%; /* Ajusta el ancho del cuadro de error al 100% del contenedor */
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (min-width: 768px) {
    .login-container {
      max-width: 800px;
    }
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 96%;
    max-width: 650px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .status-message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
  }
  
  .green {
    background-color: #28a745;
    color: #fff;
  }
  
  .orange {
    background-color: #ffc107;
    color: #000;
  }
  
  .red {
    background-color: #dc3545;
    color: #fff;
  }
  
  .error-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-width: 400px; /* Ajusta el ancho máximo del cuadro de error */
    width: 100%; /* Ajusta el ancho del cuadro de error al 100% del contenedor */
  }
  
  .success-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .forgot-password {
  margin-top: 20px;
  text-align: center;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}